*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
}

:root{
    --primary-color: rgba(30, 30, 30, 1);
    --secondary-color: rgba(217, 217, 217, 1)

}

.container{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
}

.checklist{
    display: flex;
    padding: 20px 17px;
}
.shopping--maintitle{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: var(--primary-color);
}

.shopping--line{
    max-width: 608px;
    height: 1.5px;
    margin-top: 23px;
    background-color: rgba(208, 207, 207, 1);
}
.shopping--title{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--primary-color);
}
.shopping--subtitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 19.1px;
    color: var(--primary-color);
}
.items{
    width: 100%;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.item{
    max-width: 608px;
    width: 100%;
    gap: 18px;
    padding: 9px 10px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: all .5s ease;
}

.item:hover{
    transform: translateY(-4px) scaleX(1.02);
    transition: all .5s ease;
}

.item--info{
    display: flex;
    flex-direction: column;
    color: var(--primary-color);   
    flex-grow: 2;
}
.info--info h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.info--info p{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.1px;
}

.item--number{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 44px;
}
.item--count{
    width: 28px;
    color: rgba(57, 57, 57, 1);
    font-size: 22px;
    font-weight: 600;
    line-height: 22px; 
    border: none;
    outline: none;
}

.item--counter{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.item--counter img{
    cursor: pointer;
}

.item--count::-webkit-inner-spin-button,
.item--count::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.item--price{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    flex-grow: 1;
    margin-right: 38px;
}

.item--delete{
    justify-self: end;
    cursor: pointer;
    margin-right: 13px;
}
@media (max-width:998px) {
    .item--number{
        margin-right: 12px;
    }
    .item--price{
        margin-right: 8px;
    }
    .item--delete{
        padding-right: 0;
    }
}
@media (max-width:768px) {
    .info--info{
        flex-grow: 1;
    }
    .item--count,.item--price{
        flex-grow: 0;
    }
}

@media (max-width:320px) {

    .shopping--title{
        margin-top: 0;
    }
    .shopping--subtitle,.shopping--maintitle{
        text-align: center;
    }
    .items{
        margin-top: 0;
    }
    .item{
        flex-direction: column;
        text-align: center;
    }
    .info--info h4{
        font-size: 16px;
        line-height: 20px;
    }
    .info--info p{
        font-size: 12px;
        line-height: 14px;
    }
    .item--number{
        margin-right: 2px;
    }
    .item--price{
        margin-right: 2px;
    }
    .item--delete{
        margin-right: 0;
    }
}

/* Payment */


.payment{
    width: 100%;
    background: rgba(86, 90, 187, 1);
    border-radius: 20px;
    padding: 19px;
    color: var(--secondary-color);
}

.card--types{
    margin-top: 15px;
    gap: 14px;
}
.card--type{
    width: 75px;
    height: 55px;
    border-radius: 5px;
}
.card--all div:last-child{
    width: 75px;
        background-color:rgba(217, 217, 217, 0.2);
}
.card--type img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.card--type a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    color: rgba(254, 252, 252, 1);
    padding: 0 5px;
}

.card-form{
    margin-top: 27px;
}
.card-form label{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--secondary-color);
}
.card-form input{
    width: 100%;
    background-color: rgba(98, 104, 198, 1);
    padding: 11px 18px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: rgba(254, 252, 252, 1);
    caret-color: var(--secondary-color);
    margin-bottom: 14px;
    margin-top: 5px;    
}

.card-form input::-webkit-outer-spin-button,
.card-form input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.card-form input[type=number] {
  -moz-appearance: textfield;
}


.card-form > div input{
    width: 100%;
}
.card-form > div input::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
    -webkit-appearance: none;
}

.cvv{
    position: relative;
}
#show-password{
    position: absolute;
    top: 40px;
    right: 10px;
    cursor: pointer;
} 


.shipment{
    width: 100%;
    margin-top: 22px;
    padding-top: 14px;
    border-top: 1px solid rgba(95, 101, 195, 1);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.shipment div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.shipment div span{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(254, 252, 252, 1);

}

.shipment .checkout{
    width: 100%;
    background-color: rgba(77, 225, 193, 1);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
    color: rgba(254, 252, 252, 1);
    transition: all .3s ease;

}
.shipment .checkout > div{
    display: flex;
    align-items: center;
    width: 90px;
    color: rgba(254, 252, 252, 1);
}
.shipment .checkout:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: all .3s ease;
}